.forms-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 10px;
    margin-bottom: 20px;
}

button:hover {
    box-shadow: 2px 2px 1px rgb(243, 206, 163);
    color: rgb(202, 102, 43);
    
}
button:active {
    font-weight: bold ;
}

button:disabled {
    color: rgb(179, 175, 175);
    box-shadow:none;
    font-weight:inherit;
}

.form {
    width: 40%;
}

button {
    color: black; 
    margin-left: 5px;     
    border-radius: 2px;
    box-sizing: border-box;
    border-style: none;    
    font-size: 16px;
    margin-right: 5px;
    box-shadow: 2px 2px 1px rgb(253, 239, 223);
    transition: all 0.5s;
}

input , textarea {
    font-family: inherit;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
    border-style: none;
    display: block;
    margin-bottom: 10px;
    background-color: rgba(182, 184, 184, 0.342);
    font-size: 14px;
    padding: 4px;
    resize: vertical;
    outline: transparent solid 1px;
}

input:focus , textarea:focus {
    outline: #bdbcbc solid 1px;  
    transition: outline 1s;  
}


h1 {
    font-size: 22px;
    text-align: center;
}

h3 , p {
    margin: 4px;
    font-size: 16px;

}

li{ 
    padding: 10px;
    
    border: 2px solid rgba(177, 175, 175, 0.795);
    margin-bottom: 5px;
    list-style-type: none;
    border-radius: 10px;
    box-shadow: 2px 2px 1px rgb(207, 207, 207);
}

form {
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid rgba(128, 128, 128, 0.452) ;
    border-radius: 10px;
}

ul {
    padding: 0;
}